*Rcheck*
inst/extras
inst/extras/..Rcheck
inst/extras/..Rcheck
*~
*/~
vignettes/sorvi_tutorial.md
vignettes/figure

.Rproj.user
*.Rproj
.Rhistory
doc
Meta
inst/doc

tests/.DS_Store
.Rdata
docs
/doc/
/Meta/
